<div class="div-main">
      <div class="col-md-6 col-xs-12">
        <div class="div-info">
            <h3 class="main-title">watch joker now</h3>
            <p class="main-description col-xs-12">
              In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and
              mistreated by society. He then embarks on a downward spiral of revolution
              and bloody crime. This path brings him face-to-face with his alter-ego:
              the Joker. Arthur Fleck works as a clown and is an aspiring stand-up
              comic.
            </p>
            <div class="btns">
                <button class="btn btn-light play ">
                    play
                </button>
                <button class="btn  info">
                    more information</button>
            </div>
          </div>
  </div>
</div>
